body {
	margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #e1e1e1;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}
body, input, p, textarea {
    font-size: 14px;
    word-break: break-word;
}